{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/nv.d3.css' %}">
<link rel="stylesheet" href="{% static 'css/bank_detail.css' %}">
{% endblock %}

{% block body %}

<!-- Autocomplete -->
<h2 class="demoHeaders">Compare Banks</h2>
<div>
  <form method="post" action="">
    {% csrf_token %}
    <input id="autocomplete" title="type &quot;a&quot;" name="bank-name">
    <button type="submit" class="btn">Compare</button>
  </form>
</div>
<!-- End Autocomplete -->

<style type="text/css">
    .dollars:before { content:'$'; }
</style>
<div class="bank-detail">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="bank-large">
          <h1>{{ bank.name }}: {{ bank.score }}</h1>
          <hr id="title-rule">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="bank-info">
        <div class="col-md-6">
          <div class="bank-info-row vcenter">
            <h3>Total Assets: <span class="dollars">{{ bank.total_assets|intcomma }}</span></h3>
          </div>
          <div class="bank-info-row vcenter">
            <h3>Number of Branches: {{ bank.number_domestic_offices|intcomma }}</h3>
          </div>
        </div>
        <div class="col-md-6">
          <div class="bank-info-row vcenter">
            <h3>Number of Employees: {{ bank.number_of_employees|intcomma }}</h3>
          </div>
          <div class="bank-info-row vcenter">
            <h3>Number of Complaints: {{ bank.total_complaints }}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="pie-chart">
          <h3>Percentage of Loans for Bank</h3>
          <div id="pieChart"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="bar-chart">
          <h3>Total Number of Loans</h3>
          <div id="chart">
            <svg></svg>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="bank-data">
        <div class="col-md-4 col-md-offset-1">
          <div class="bank-info-col">
            <h5>Total Liability</h5>
            <hr>
            <p><span class="dollars">{{ bank.total_liability|intcomma }}</span></p>
            <h5>Return on Equity</h5>
            <hr>
            <p>{{ bank.return_on_equity|floatformat:2 }}</p>
            <h5>Total Deposits</h5>
            <hr>
            <p><span class="dollars">{{ bank.total_deposits|intcomma }}</span></p>
            <h5>Common Stock</h5>
            <hr>
            <p>{{ bank.common_stock|intcomma }}</p>
            <h5>Return on Assets</h5>
            <hr>
            <p>{{ bank.return_on_assets|floatformat:2 }}</p>
            <h5>Retained Earnings to Average Equity</h5>
            <hr>
            <p>{{ bank.retained_earnings_to_average_equity|floatformat:2 }}</p>
          </div>
        </div>
        <div class="col-md-4 col-md-offset-2">
          <div class="bank-info-col">
            <h5>Number of Residental Real Estate Loans</h5>
            <hr>
            <p>{{ bank.family_residential_loans|intcomma }}</p>

            <h5>Home Equity Loans</h5>
            <hr>
            <p>{{ bank.home_equity_loans|intcomma }}</p>

            <h5>Adjustable Rate Residental Loans</h5>
            <hr>
            <p>{{ bank.adjustable_rate_loans_secured_by_family_residential|intcomma }}</p>
            <h5>Foreclosed Residental Loans</h5>
            <hr>
            <p>{{ bank.other_real_estate_owned_family|intcomma }}</p>
            <h5>Foreclosed Commerical Loans</h5>
            <hr>
            <p>{{ bank.other_real_estate_owned_commercial_real_estate|intcomma }}</p>
            <h5>Foreclosed Farm Loans</h5>
            <hr>
            <p>{{ bank.other_real_estate_owned_farmland|intcomma }}</p>
          </div>
        </div>
      </div>
    </div>
    <!--
      <div class="col-md-6">
        <div class="bank-chart-col col-4">

          <h5>Foreclosed Residental Loans: {{ bank.other_real_estate_owned_family|intcomma }}</h5>
          <h5>Foreclosed Commerical Loans: {{ bank.other_real_estate_owned_commercial_real_estate|intcomma }}</h5>
          <h5>Foreclosed Farm Loans: {{ bank.other_real_estate_owned_farmland|intcomma }}</h5>
       </div>
      </div>
    </div> -->
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<script src="{% static 'js/d3pie.min.js' %}"></script>
<script src="{% static 'js/nv.d3.js' %}"></script>

<script>
var availableTags = [
  {% for banks in bank_list %}
  "{{ banks.name }}",
  {% endfor %}
];
$( "#autocomplete" ).autocomplete({
	source: availableTags
});

$( "#menu" ).menu();

// Hover states on the static widgets
$( "#dialog-link, #icons li" ).hover(
	function() {
		$( this ).addClass( "ui-state-hover" );
	},
	function() {
		$( this ).removeClass( "ui-state-hover" );
	}
);
</script>

<script>
var pie = new d3pie("pieChart", {
	"footer": {
		"color": "#999999",
		"fontSize": 10,
		"font": "open sans",
		"location": "left"
	},
	"size": {
		"canvasWidth": 400,
    "canvasHeight": 400,
		"pieOuterRadius": "90%"
	},
	"data": {
		"sortOrder": "value-desc",
		"content": [
			{
				"label": "Small Business",
				"value": ({{bank.small_loan_percentage}}*100),
				"color": "#B2EBF2"
			},
			{
				"label": "Individual",
				"value": ({{bank.individual_loan_percentage}}*100),
				"color": "#0097A7"
			},
			{
				"label": "Farm",
				"value": ({{bank.farm_loan_percentage}}*100),
				"color": "#00BCD4"
			},
			{
				"label": "Micro",
				"value": ({{bank.micro_loan_percentage}}*100),
				"color": "#4DD0E1"
			}
		]
	},
	"labels": {
		"outer": {
			"pieDistance": 32
		},
		"inner": {
			"hideWhenLessThanPercentage": 3
		},
		"mainLabel": {
			"fontSize": 14
		},
		"percentage": {
			"color": "#ffffff",
			"decimalPlaces": 0
		},
		"value": {
			"color": "#adadad",
			"fontSize": 11
		},
		"lines": {
			"enabled": true
		},
		"truncation": {
			"enabled": true
		}
	},
  "effects": {
		"pullOutSegmentOnClick": {
			"effect": "linear",
			"speed": 100,
			"size": 8
		}
	},
	"misc": {
		"gradient": {
			"enabled": true,
			"percentage": 100
		}
	}
});
</script>
<script>
  nv.addGraph(function() {
    var chart = nv.models.discreteBarChart()
        .x(function(d) { return d.label })    //Specify the data accessors.
        .y(function(d) { return d.value })
        .showYAxis(false)
        .staggerLabels(false)    //Too many bars and not enough room? Try staggering labels.
        .tooltips(false)        //Don't show tooltips
        .showValues(true)       //...instead, show the bar value right on top of each bar.
        .color(['#4DD0E1', '#0097A7', '#006064'])
        ;

    d3.select('#chart svg')
        .datum(exampleData())
        .transition().duration(350)
        .call(chart);

    nv.utils.windowResize(chart.update);

    return chart;
  });

  //Each bar represents a single discrete quantity.
  function exampleData() {
   return  [
      {
        key: "Cumulative Return",
        values: [
          {
            "label" : "Micro" ,
            "value" : {{bank.total_num_loans_micro}}
          } ,
          {
            "label" : "Small" ,
            "value" : {{bank.total_num_loans_small}}
          } ,
          {
            "label" : "Farm" ,
            "value" : {{bank.total_num_loans_farm}}
          }
        ]
      }
    ]
  }
</script>
{% endblock %}
