{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.structure.min.css' %}">
<link rel="stylesheet" href="{% static 'css/jquery-ui.theme.min.css' %}">
<link rel="stylesheet" href="{% static 'css/nv.d3.css' %}">
<link rel="stylesheet" href="{% static 'css/bank_comparison.css' %}">
{% endblock %}

{% block body %}
<div class="col-md-6 middle-line-right">
  <style type="text/css">
      .dollars:before { content:'$'; }
  </style>
  <div class="bank-detail">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="bank-large">
            <h1>{{ bank_1.name }}: {{ bank_1.score }}</h1>
            <hr id="title-rule">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="bank-info">
          <div class="col-md-12">
            <div class="bank-info-row vcenter">
              <h3>Total Assets: <span class="dollars">{{ bank_1.total_assets|intcomma }}</span></h3>
            </div>
            <div class="bank-info-row vcenter">
              <h3>Number of Branches: {{ bank_1.number_domestic_offices|intcomma }}</h3>
            </div>
            <div class="bank-info-row vcenter">
              <h3>Number of Employees: {{ bank_1.number_of_employees|intcomma }}</h3>
            </div>
            <div class="bank-info-row vcenter">
              <h3>Number of Complaints: {{ bank_1.total_complaints }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="pie-chart">
            <h3>Percentage of Loans for Bank</h3>
            <div id="pieChart1"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="bar-chart">
            <h3>Total Number of Loans</h3>
            <div id="chart1">
              <svg></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="bank-data">
          <div class="col-md-12">
            <div class="bank-info-col">
              <h5>Total Liability</h5>
              <hr>
              <p><span class="dollars">{{ bank_1.total_liability|intcomma }}</span></p>
              <h5>Return on Equity</h5>
              <hr>
              <p>{{ bank_1.return_on_equity|floatformat:2 }}</p>
              <h5>Total Deposits</h5>
              <hr>
              <p><span class="dollars">{{ bank_1.total_deposits|intcomma }}</span></p>
              <h5>Common Stock</h5>
              <hr>
              <p>{{ bank_1.common_stock|intcomma }}</p>
              <h5>Return on Assets</h5>
              <hr>
              <p>{{ bank_1.return_on_assets|floatformat:2 }}</p>
              <h5>Retained Earnings to Average Equity</h5>
              <hr>
              <p>{{ bank_1.retained_earnings_to_average_equity|floatformat:2 }}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="bank-info-col">
              <h5>Number of Residental Real Estate Loans</h5>
              <hr>
              <p>{{ bank_1.family_residential_loans|intcomma }}</p>

              <h5>Home Equity Loans</h5>
              <hr>
              <p>{{ bank_1.home_equity_loans|intcomma }}</p>

              <h5>Adjustable Rate Residental Loans</h5>
              <hr>
              <p>{{ bank_1.adjustable_rate_loans_secured_by_family_residential|intcomma }}</p>
              <h5>Foreclosed Residental Loans</h5>
              <hr>
              <p>{{ bank_1.other_real_estate_owned_family|intcomma }}</p>
              <h5>Foreclosed Commerical Loans</h5>
              <hr>
              <p>{{ bank_1.other_real_estate_owned_commercial_real_estate|intcomma }}</p>
              <h5>Foreclosed Farm Loans</h5>
              <hr>
              <p>{{ bank_1.other_real_estate_owned_farmland|intcomma }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-6">
  <style type="text/css">
      .dollars:before { content:'$'; }
  </style>
  <div class="bank-detail">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="bank-large">
            <h1>{{ bank_2.name }}: {{ bank_2.score }}</h1>
            <hr id="title-rule">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="bank-info">
          <div class="col-md-12">
            <div class="bank-info-row vcenter">
              <h3>Total Assets: <span class="dollars">{{ bank_2.total_assets|intcomma }}</span></h3>
            </div>
            <div class="bank-info-row vcenter">
              <h3>Number of Branches: {{ bank_2.number_domestic_offices|intcomma }}</h3>
            </div>
            <div class="bank-info-row vcenter">
              <h3>Number of Employees: {{ bank_2.number_of_employees|intcomma }}</h3>
            </div>
            <div class="bank-info-row vcenter">
              <h3>Number of Complaints: {{ bank_2.total_complaints }}</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="pie-chart">
            <h3>Percentage of Loans for Bank</h3>
            <div id="pieChart2"></div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="bar-chart">
            <h3>Total Number of Loans</h3>
            <div id="chart2">
              <svg></svg>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="bank-data">
          <div class="col-md-12">
            <div class="bank-info-col">
              <h5>Total Liability</h5>
              <hr>
              <p><span class="dollars">{{ bank_2.total_liability|intcomma }}</span></p>
              <h5>Return on Equity</h5>
              <hr>
              <p>{{ bank_2.return_on_equity|floatformat:2 }}</p>
              <h5>Total Deposits</h5>
              <hr>
              <p><span class="dollars">{{ bank_2.total_deposits|intcomma }}</span></p>
              <h5>Common Stock</h5>
              <hr>
              <p>{{ bank_2.common_stock|intcomma }}</p>
              <h5>Return on Assets</h5>
              <hr>
              <p>{{ bank_2.return_on_assets|floatformat:2 }}</p>
              <h5>Retained Earnings to Average Equity</h5>
              <hr>
              <p>{{ bank_2.retained_earnings_to_average_equity|floatformat:2 }}</p>
            </div>
          </div>
          <div class="col-md-12">
            <div class="bank-info-col">
              <h5>Number of Residental Real Estate Loans</h5>
              <hr>
              <p>{{ bank_2.family_residential_loans|intcomma }}</p>

              <h5>Home Equity Loans</h5>
              <hr>
              <p>{{ bank_2.home_equity_loans|intcomma }}</p>

              <h5>Adjustable Rate Residental Loans</h5>
              <hr>
              <p>{{ bank_2.adjustable_rate_loans_secured_by_family_residential|intcomma }}</p>
              <h5>Foreclosed Residental Loans</h5>
              <hr>
              <p>{{ bank_2.other_real_estate_owned_family|intcomma }}</p>
              <h5>Foreclosed Commerical Loans</h5>
              <hr>
              <p>{{ bank_2.other_real_estate_owned_commercial_real_estate|intcomma }}</p>
              <h5>Foreclosed Farm Loans</h5>
              <hr>
              <p>{{ bank_2.other_real_estate_owned_farmland|intcomma }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="//cdnjs.cloudflare.com/ajax/libs/d3/3.4.4/d3.min.js"></script>
<script src="{% static 'js/d3pie.min.js' %}"></script>
<script src="{% static 'js/nv.d3.js' %}"></script>

<script>
var pieData1 = {
  micro: {{bank_1.micro_loan_percentage}},
  small: {{bank_1.small_loan_percentage}},
  farm: {{bank_1.farm_loan_percentage}},
  individual: {{bank_1.individual_loan_percentage}}
}
var pieData2 = {
  micro: {{bank_2.micro_loan_percentage}},
  small: {{bank_2.small_loan_percentage}},
  farm: {{bank_2.farm_loan_percentage}},
  individual: {{bank_2.individual_loan_percentage}}
}
</script>
<script src="{% static 'js/drawPieChart.js' %}"></script>

<script>
  var bankData1 = {
    micro: {{bank_1.total_num_loans_micro}},
    small: {{bank_1.total_num_loans_small}},
    farm: {{bank_1.total_num_loans_farm}}
  }
  var bankData2 = {
    micro: {{bank_2.total_num_loans_micro}},
    small: {{bank_2.total_num_loans_small}},
    farm: {{bank_2.total_num_loans_farm}}
  }
</script>
<script src="{% static 'js/drawBarChart.js' %}"></script>

{% endblock %}
