/**************
Reset CSS
**************/

.container {
  margin: 0;
  padding: 0;
}

.navbar {
  margin-bottom: 0;
}

.col-md-6 {
  padding-left: 0;
  padding-right: 0;
}

.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

/**************
Bank Detail
**************/

.bank-large {
  text-align: center;
  margin: 0 10% 0 10%;
}

hr {
  border-width: 3px 0;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  border-color: #607D8B;
}

#title-rule {
  border-width: 5px 0;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 0;
}


.bank-info-row {
  margin: 3% 2.5% 3% 2.5%;
  padding-left: 1%;
  width: 95%;
  height: 9vh;
}

.vcenter {
  display: flex;
  align-items: center;
}

.pie-chart {
  margin-top: 2%;
  margin-bottom: 2%;
  border-right: thick solid #E0E0E0;
  height: 50vh;
  text-align: center;
}

.bar-chart {
  margin-top: 2%;
  margin-bottom: 2%;
  border-left: medium solid #E0E0E0;
  height: 50vh;
  text-align: center;
}

#chart1 {
  height: 100%;
}

.bank-data {
  margin-top: 5%;
}

.pinned-compare {
  position: fixed;
  background-color: #E0E0E0;
  top: 7%;
  /*width: 100%;*/
  right: 0;
  padding: 1% 2px 1% 2px;
  z-index: 5;
}

/**************
Typography
**************/

h1 {
  margin-top: 2%;
}

h5, p {
  font-size: 1.8em;
}

p {
  text-align: right;
}

/**************
Color
**************/

.bank-info-row {
  /*background-color: #E0E0E0;*/
  background-color: #80DEEA;
}

.nv-x text{
  font-size: 14px;
}
