/**************
Reset CSS
**************/

.container {
  margin: 0;
  padding: 0;
  width: auto;
}

.navbar {
  margin-bottom: 0;
}

.col-md-6 {
  padding-left: 0;
  padding-right: 0;
}

.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}

h5 {
  margin-top: 0;
  margin-bottom: 0;
}


/**********************
Bank Detail
**********************/

.bank-large {
  height: 45vh;
  margin: 1% 1% 1% 1%;
}

.bank-info {
  height: 45vh;
  margin: 1% 1% 1% 1%;
}

.bank-charts {
  height: 48vh;
}

.bank-info-row {
  height: 23%;
}

.bank-chart-col {
  float: left;
  position: relative;
  width: 50%;
  height: 100%;
  padding: 1%;
}

/**********************
Typography
**********************/

.bank-detail h1, .bank-detail h3 {
  text-align: center;
  padding: 5%;
  margin: 0;
}

.bank-detail h1 {
  font-size: 5em;
  font-family: 'Open Sans', sans-serif;
}

.bank-detail h3 {
  font-size: 3em;
  font-family: 'Open Sans', sans-serif;
}

.bank-detail h4 {
  font-size: 2.3em;
  margin: 0;
  padding-left: 1%;
}


#scoretitle h6 {
  text-align: center;
  font-size: 1.2em;
  padding: 0%;
  margin: 0;
}
.bank-detail h5{
  text-align: center;
  font-size: 1.8em;
  padding-top: 5%;
  padding-bottom: 5%;
  font-family: 'Open Sans', sans-serif;
}

/**********************
pie chart
**********************/

#pieChart {
  font-size: 1.1em;
  text-align: center;
}

#chart {
  height: 290px;
}
/**********************
Color
**********************/

.bank-large {
  background-color: #80DEEA;
}

.row-1 {
  background-color: #80DEEA;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row-2 {
  background-color: #80DEEA;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row-3 {
  background-color: #80DEEA;
  margin-top: 1%;
  margin-bottom: 1%;
}

.row-4 {
  background-color: #80DEEA;
  margin-top: 1%;
}

.col-1 {
  background-color: #FFF;
}

.col-2 {
  background-color: #B2EBF2;
}

.col-3 {
  background-color: #FFF;
}

.col-4 {
  background-color: #B2EBF2;
}
