/**********************
Navigation
**********************/

/**********************
Body
**********************/

.search-area {
  text-align: center;
  margin-top: 3%;
}

/**********************
Carousel
**********************/

@media only screen and (min-width: 768px) {
  .carousel-container {
    margin-left: 21%;
    margin-right: 21%;
  }
}

.carousel-inner .item img {
  max-height: 70vh;
}

.carousel-text {
  text-align: center;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/**********************
State Table
**********************/

#table_div {
  text-align: center;
}

/**********************
Country Map
**********************/

.state{
  fill: none;
  stroke: #a9a9a9;
  stroke-width: 1;
}
.state:hover{
  fill-opacity:0.5;
}
#tooltip {
  position: absolute;
  text-align: center;
  padding: 20px;
  margin: 10px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 1px;
  border-radius: 2px;
  pointer-events: none;
}
#tooltip h4{
  margin:0;
  font-size:14px;
}
#tooltip{
  background:rgba(0,0,0,0.9);
  border:1px solid grey;
  border-radius:5px;
  font-size:12px;
  width:auto;
  padding:4px;
  color:white;
  opacity:0;
}
#tooltip table{
  table-layout:fixed;
}
#tooltip tr td{
  padding:0;
  margin:0;
}
#tooltip tr td:nth-child(1){
  width:50px;
}
#tooltip tr td:nth-child(2){
  text-align:center;
}

/**********************
Typography
**********************/

.title-text {
  text-align: center
}

.title-text > h1 {
  padding-bottom: 0;
  margin-bottom: 0;
}

.title-text > h4 {
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 1em;
}

body {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Josefin Sans', sans-serif;
}



/**********************
Color
**********************/

.navbar {
    color: #FFF;
    background-color:  #00838F;
}

a.navbar-brand {
    color: #fff;
}

.navbar-nav>li>a {
    color: #fff;
}

.title-text {
  color: #1C140D;
}

.carousel-text {
  color: #FFF;
}
